<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Employee</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="fullName">Full Name</label>
                <div class="col-sm-8">
                    <input id="fullName" formControlName="fullName" type="text" class="form-control" onemptied="logValidationErrors()">
                    
                </div>
                <label class="col-sm-2 control-label">Full Name Lngth</label>
                {{formErrors['fullName']}}
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="email">Email</label>
                <div class="col-sm-8">
                    <input id="email" formControlName="email" type="text" class="form-control" onblur="logValidationErrors()">
                </div>
                {{formErrors['email']}}
            </div>
            
            <div formGroupName="skills">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="skillName">skillName</label>
                    <div class="col-sm-4">
                        <input id="skillName" formControlName="skillName" type="text" class="form-control">
                    </div>
                    <label class="col-sm-2 control-label" for="experienceInYears">experiencInYears</label>
                    <div class="col-sm-4">
                        <input id="experienceInYears" formControlName="experienceInYears" type="text"
                            class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Proficiency</label>
                    <input type="radio" value="beginner" formControlName="proficiency">Beginner
                    <input type="radio" value="intermediate" formControlName="proficiency">Intermediate
                    <input type="radio" value="expert" formControlName="proficiency">Expert
                </div>

            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="btn-toolbar">
            <button class="btn-primary" type="submit">save</button>
            <button class="btn-primary" type="button" (click)="onLoadDataClick()">Load Data</button>
        </div>
    </div>
</form>

<!-- <table border="1">
    <tr>
        <th>Form Group</th>
        <th>Form Control-fullname</th>
        <th>Form Control-email</th>
        <th>Form json parsing</th>
    </tr>
    <tr>
        <td>
            {{employeeForm.touched}}
            <br>
            <span>
                val
            </span>
            {{employeeForm.value}}
        </td>
        <td>
            {{employeeForm.get('fullName')?.touched}}
            <br>
            {{employeeForm.controls['fullName']?.value}}
        </td>
        <td>
            {{employeeForm.get('email')?.touched}}
            <br>
            {{employeeForm.controls['email']?.value}}
        </td>
        <td>

            {{employeeForm.value | json}}
            {{employeeForm.get('skills')?.get('proficiency')?.value}}
        </td>
    </tr>
</table> -->
